<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<http pattern="/**/*.png" security="none" />
	<http pattern="/**/*.css" security="none" />
	<http pattern="/**/*.js" security="none" />
	
	<!-- RESTful stateless -->
	<http pattern="/errors/**" use-expressions="true" auto-config="true" create-session="stateless">
    	<csrf disabled="true" />
    	<intercept-url pattern="/errors/**" access="permitAll()" />
    	<http-basic />
    </http>
	
	<!-- RESTful stateful 
	<http pattern="/errors/**" use-expressions="true" entry-point-ref="restAuthenticationEntryPoint">
		<csrf disabled="true" />
		<intercept-url pattern="/errors/**" access="hasRole('ADMIN')" />
		<form-login
			login-processing-url="/errors/j_spring_security_check"
			username-parameter="username"
			password-parameter="password"
			authentication-success-handler-ref="mySuccessHandler"
			authentication-failure-handler-ref="myFailureHandler"
		/>
	</http>
	<beans:bean id="restAuthenticationEntryPoint" class="com.softpower.chihuahua.core.controller.entrypoint.RestAuthenticationEntryPoint" />
	<beans:bean id="mySuccessHandler" class="com.softpower.chihuahua.core.controller.handler.RestAuthenticationSuccessHandler" />
	<beans:bean id="myFailureHandler" class="com.softpower.chihuahua.core.controller.handler.RestAuthenticationFailureHandler" />
	-->
	<http auto-config="false">
		<access-denied-handler error-page="/login?denied=403" />
		<intercept-url pattern="/login" access="permitAll()" />
		<intercept-url pattern="/admin**" access="hasRole('ADMIN')" />
		<intercept-url pattern="/**" access="hasRole('USER')" />
		<form-login login-page="/login"
			default-target-url="/welcome"
			authentication-failure-url="/login?error"
			login-processing-url="/j_spring_security_check"
			username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/login?logout" logout-url="/j_spring_security_logout" delete-cookies="JSESSIONID" />
		<session-management invalid-session-url="/login" />
	</http>
	
	<beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
	<authentication-manager>
		<authentication-provider user-service-ref="RbAuthenticationService">
			<password-encoder ref="encoder" />
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="roleHierarchy" name="RoleHierarchy" class="org.springframework.security.access.hierarchicalroles.RoleHierarchyImpl">
		<beans:property name="hierarchy">
			<beans:value>
				ROLE_ADMIN > ROLE_USER
			</beans:value>
		</beans:property>
	</beans:bean>
	
</beans:beans>
