<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<bean id="coreDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/chihuahua?useUnicode=true&amp;characterEncoding=utf-8"></property>
		<property name="user" value="attraction_debug"></property>
		<property name="password" value="()k10387DvB>"></property>
		<property name="testConnectionOnCheckout" value="true"></property>
	</bean>

</beans>